/* universal */

* {
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
    background-color: #dad9d9;
}


/* navbar */
.nav {
    /* background-color: #A9A9A9; */
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 20%, rgba(157,157,159,0.5534441805225654) 95%, rgba(198,198,198,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-flow: column;
    font-family: Arial, Helvetica, sans-serif;
}

.nav a {
    text-decoration: none;
    font-size: 2.2rem;
    color: rgb(251, 251, 251);
}

.nav a:hover {
    color: maroon;
    text-shadow: 0 0 5px white;
}

.nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-flow: column;
    padding: 0;
}

.nav li {
    margin: 2rem 0;
    text-align: center;
}

@media only screen and (min-width:765px) {
    .nav {
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem 0 2rem 1rem;
    }

    .nav ul {
        flex-direction: row;
    }

    .nav li {
        padding-right: 3rem;
    }
}

/* mission section */

.mission {
    background-image: url(../images/jaggedbuilding.jpg);
    height: 100vh;
    
}

.mission h1 {
    font-size: 1.6rem;
    font-weight: lighter;
    padding: 1rem 0;
    margin: 0 2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 1.5;
    font-style: italic;
    

}


.mission-statement {
    background-color: #dad9d9;
    position: relative;
    top: 350px;
}

@media only screen and (min-width:765px) {
    .mission {
        height: 100vh;
        margin-bottom: 2rem;
    }

    .mission h1{
        font-size: 1.9rem;
    }

    .mission-statement {
        top: 360px;
    }

}
/* projects */

.projects{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
  
.project-container {
    height: auto;
    width: 95%;
    margin: 2rem 0;
    background-color: black;
    color: #BEBEBE;
    text-align: center;
    border-radius: 5px;
}

.project-container img {
    width: 100%;
    height: auto;
    border-radius: 5px
    
   
}

.project-container h3 {
    padding:1.5rem;
    letter-spacing: .1rem;
    font-size: 1.5rem;
    font-weight: 400;
}

@media only screen and (min-width:765px) {
    .projects {
        flex-direction: row;
    }

    .project-container {
        margin: 0 1.5rem;
    }
}

/* project headline */

.project_headline {
   width: 100%;
   text-align: center;
   margin: 6rem 0;
   line-height: 1.3;
   letter-spacing: .1rem;
}

.project_headline h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.project_headline p {
    font-size: 2rem;

}

/* team section */

.team{
    /* flex-direction: row; */
    background-image: url(../images/background-3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    margin-top: 4rem;
    text-align: center;
}

.team .employee_card {
    width: 200px;
    margin: 3rem 6rem;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px white;
}

.team h2 {
    font-size: 2.5rem;
    margin: 1rem 0;
}

.team h3 {
    font-size: 2rem;
    font-weight: 300;
}

.team .image-container {
    height: 300px;
    width: 200px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.team img {
    width: 100%;
    height: auto;
}

.team-headline h2 {
   font-size: 4rem;
   text-align: center;
   margin-top: 8rem; 
   font-weight: 200;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* footer */

.contact {
  text-align: center;
  line-height: 2;
  font-size: 2.5rem;
  padding-top: 3rem;
}

.contact h2 {
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
}
.copyright {
    font-size: 1rem;
}

